div(class="hamburger")
  span
  span
  span
  
nav(class="hamburgerMenu")
  ul(class="hamburgerMenu__contents")
    li
      a(href="#story") #{"ストーリー"}
    li
      a(href="#howtoplay") #{"遊び方"}
    li
      a(href="#information") #{"開催情報"}
    li
      a(href="#warning") #{"注意事項"}
    li
      a(href="#practice") #{"お試し謎"}

div(class="top_button")
  a(href="#mainvisual") 
    img(src=imgPath+"/top/button_top.png", alt="トップボタン")
