extends _layout

block vars
  include _config
  - var key = "top"
  - var page = pages[key]

block contents
  div(class="mask" id="mask") 
  section(class="mainvisual" id="mainvisual")
    img(class="image" src=imgPath+"/top/mainvisual.jpg" alt="メインビジュアル")
  section(class="story" id="story")
    img(class="image" src=imgPath+"/top/story.png" alt="ストーリー")
  section(class="howtoplay" id="howtoplay")
    img(class="image" src=imgPath+"/top/howtoplay_sp_1.png" alt="遊び方1")
    img(class="image" src=imgPath+"/top/howtoplay_sp_2.png" alt="遊び方2")
  section(class="warning" id="warning")
    img(class="image" src=imgPath+"/top/warning_sp.png" alt="注意事項")
  section(class="practice" id="practice")
    img(class="image" src=imgPath+"/top/practice1.png" alt="お試し謎1")
    a(class="btn--box") ヒント
    a(class="btn--box") 答え
      
