extends _layout

block vars
  include _config
  - var key = "top"
  - var page = pages[key]

block contents
  div(class="mask" id="mask") 
  section(class="mainvisual" id="mainvisual")
    img(class="image" src=imgPath+"/top/mainvisual_sp.png" alt="メインビジュアル")
  section(class="story" id="story")
    img(class="image" src=imgPath+"/top/story_sp.png" alt="ストーリー")
  section(class="howtoplay" id="howtoplay")
    img(class="image" src=imgPath+"/top/howtoplay_sp.png" alt="遊び方1")
    img(class="image" id="sp-only" src=imgPath+"/top/howtoplay_sp_2.png" alt="遊び方2")
  section(class="warning" id="warning")
    img(class="image" src=imgPath+"/top/warning_sp.png" alt="注意事項")
  section(class="practice" id="practice")
    img(class="image" src=imgPath+"/top/practice_title_sp.png" alt="お試し謎")
    div(class="practice1")
      img(class="nazo" src=imgPath+"/top/practice_1.png" alt="お試し謎1問目")
      img(class="btn__hint" src=imgPath+"/top/button_hint.png", alt="ヒントボタン")
      img(class="btn__answer" src=imgPath+"/top/button_answer.png", alt="答えボタン")
    div(class="practice2")
      img(class="nazo" src=imgPath+"/top/practice_2.png" alt="お試し謎2問目")
      img(class="btn__hint" src=imgPath+"/top/button_hint.png", alt="ヒントボタン")
      img(class="btn__answer" src=imgPath+"/top/button_answer.png", alt="答えボタン")
    div(class="practice3")
      img(class="nazo" src=imgPath+"/top/practice_3.png" alt="お試し謎3問目")
      img(class="btn__hint" src=imgPath+"/top/button_hint.png", alt="ヒントボタン")
      img(class="btn__answer" src=imgPath+"/top/button_answer.png", alt="答えボタン")
    div(class="overlay" id="js-overlay")
    div(class="modal" id="js-modal")
      div(class="modal-close__wrap")
        div(class="modal-close" id="js-close")
          span 
          span 
      img(class="hint1" src=imgPath+"/top/practice_1_hint.png" alt="謎1ヒント画像")
      img(class="answer1" src=imgPath+"/top/practice_1_answer.png" alt="謎1答え画像")
      img(class="hint2" src=imgPath+"/top/practice_2_hint.png" alt="謎2ヒント画像")
      img(class="answer2" src=imgPath+"/top/practice_2_answer.png" alt="謎2答え画像")
      img(class="hint3" src=imgPath+"/top/practice_3_hint.png" alt="謎3ヒント画像")
      img(class="answer3" src=imgPath+"/top/practice_3_answer.png" alt="謎3答え画像")
        
      
